{% extends 'templates/template_default.twig' %}

{% set title_page = 'Not Found' %}


{% block content %}

<style>
	body {
		background-color: white;
	}
</style>

<div>

	<div class="container-fluid">

		<div class="row m-4">

			<div class="col-12 alert alert-danger" role="alert">
				<h4>Page not found!</h4>

				<hr>

				<a href="?ref=home">Home</a>
			</div>

		</div>

	</div>

</div>

{% endblock %}