{% extends 'templates/template_default.twig' %}

{% set title_page = 'Home' %}


{% block content %}

    {% include 'includes/menu.twig' with {'login':login} %}


	<div class="container-fluid">
		
		<div class="row m-2">
			<div class="col-12 alert alert-success" role="alert">
				<a href="#" class="alert-link">Authenticated!</a>
			</div>
		</div>

		<div class="row m-2">
			
			<div class="col-sm-12 p-2 bg-white">
				<p>User authenticated: </p>
				
				<ul>
					<li>Id: {{session_id}}</li>
					<li>User: {{session_username}}</li>
				</ul>
			</div>
		</div>


	</div>

{% endblock %}